body, html {
    height: 100%;
    margin: 0;
  }
  
.background {
    background-image: url('./contact_img/homepage_background_16_9_blured.png');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 250px;
    height: 150px;
    font-family: 'League Gothic';
    background-color: rgba(179, 181, 181, 0.327);
    color: white;
    padding: 30px;
    text-align: center;
}

.upper {
    height: 80%;
    display: flex;
}

.phone {
    font-size: 40px;
}

/* .profile_picture {
    content: url('profile.JPG');
    height: 200px;
} */

@media only screen and (max-width: 600px) {
    
    .content {
        width: 250px;
        height: 320px;
    }

    .upper {
        font-size: 25px;
    }
    
}