body, html {
    height: 100%;
    margin: 0;
  }
  
.background {
    background-image: url('./contact_img/homepage_background_16_9_blured.png');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 400px;
    height: 450px;
    background-color: #793737;
}

.header {
    width: 400px;
    height: 50px;
    font-family: 'League Gothic';
    font-size: 50px;
    color: #3B3B3B;
    text-align: center;
}

/* .box {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.enter_name {
    width: 350px;
    height: 12%;
    background-color: #3B3B3B;
    margin-top: 25px;
    border-radius: 4px;
    opacity: 75%;
}

.enter_name p {
    font-family: 'League Gothic';
    font-size: 30px;
    margin: 6px;
    color: #ffffff;
    opacity: 80%;
}

.enter_address {
    width: 350px;
    height: 12%;
    background-color: #3B3B3B;
    border-radius: 4px;
    opacity: 75%;
}

.enter_address p {
    font-family: 'League Gothic';
    font-size: 30px;
    margin: 6px;
    color: #ffffff;
    opacity: 80%;
}

.message {
    width: 350px;
    height: 45%;
    background-color: #3B3B3B;
    margin-bottom: 25px;
    border-radius: 4px;
    opacity: 75%;
}

.message p {
    font-family: 'League Gothic';
    font-size: 30px;
    margin: 6px;
    color: #ffffff;
    opacity: 80%;
} */

.phone {
    font-family: 'League Gothic';
    font-size: 30px;
    margin: 6px;
    color: #ffffff;
    text-align: center;
    margin-top: -25px
}