body {
    background-color: #1C1C1C;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a {
    text-decoration: none;
    color: white;
}
.navigation {
    width: 97%;
    height: 100px;
    display: flex;
}
.nav {
    font-family: 'League Gothic';
    font-size: 38px;
    display: flex;
    flex-direction: column;
}
.nav a {
    margin: 0%;
    color: #ffffff;
}
.nav a:hover {
    margin: 0%;
    color: #000000;
}
.logo {
    font-family: 'Alex Brush';font-size: 80px;
    color: #FFFFFF;
    margin: 5px 0px 0px 31%;
}

.graphicdesign_grid {
    width: 75%;
    height: 100%;
    margin-top: 100px;
}

.san_diego_project {
    content: url(graphic_img/san\ diago\ button.png);
    width: 100%;
    margin-bottom: 60px;
}

.san_diego_project:hover {
    content: url(graphic_img/san\ diago\ button\ black.png);
}

.graphicdesign_lower {
    display: flex;
    justify-content: space-between;
}

.summer {
    content: url(graphic_img/Untitled-1-Graphic\ designFIN.png);
}

.graphicdesign_theme {
    content: url(graphic_img/graohic\ design\ theme.png);
}

@media only screen and (max-width: 600px) {
    .nav {
        display: none;
    }

    .logo {
        font-size: 50px;
        margin: 0%;
        margin-top: 20px;
    }

    .navigation {
        justify-content: center;
    }

    .graphicdesign_grid {
        margin-top: 0px;
    }

    .san_diego_project {
        margin-bottom: 20px;
    }

    .summer {   
        height: 220px;
    }
    
    .graphicdesign_theme {
        height: 220px;
    }

    .footer {
        display: none;
    }
}