body {
    background-color: #1C1C1C;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a {
    text-decoration: none;
    color: white;
}
.navigation {
    width: 760px;
    height: 100px;
    display: flex;
}
.nav {
    font-family: 'League Gothic';
    font-size: 38px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.nav a {
    margin: 0%;
    color: #ffffff;
}
.nav a:hover {
    margin: 0%;
    color: #000000;
}
.logo {
    font-family: 'Alex Brush';
    font-size: 60px;
    color: #FFFFFF;
    margin-left: 150px;
    margin-top: 15px;
}

.graphicdesign_grid {
    margin-top: 40px;
    width: 760px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.graphicdesign_upper {
    display: flex;
    justify-content: space-between;
    height: 640px;
    margin-bottom: 30px;
}

.summer {
    height: 100%;
    content: url(graphic_img/Untitled-1-Graphic\ designFIN.png);
}

.graphicdesign_theme {
    height: 100%;
    content: url(graphic_img/graohic\ design\ theme.png);
}

.san_diego_project {
    content: url(graphic_img/san\ diago\ button.png);
    width: 100%;
    margin-bottom: 60px;
}

.san_diego_project:hover {
    content: url(graphic_img/san\ diago\ button\ black.png);
}

.footer {
    color: #FFFFFF;
}


@media only screen and (max-width: 860px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .nav {
        font-size: 30px;
    }

    .logo {
        font-size: 50px;
        margin: 0%;
        margin-left: 70px;
    }

    .navigation {
        width: 500px;
    }

    .graphicdesign_grid {
        width: 500px;
    }

    .graphicdesign_upper {
        height: 415px;
    }

    .san_diego_project {
        margin-bottom: 20px;
    }

    .san_diago_text {
        width: 500px;
    }
}

@media only screen and (max-width: 600px) {
    
    .nav {
        width: 250px;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .nav a {
        font-size: 40px;
    }

    .logo {
        width: 250px;
    }

    .logo a {
        margin: -20px;
    }

    .navigation {
        width: 70px;
        height: 180px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .graphicdesign_grid {
        width: 350px;
        display: flex;
        align-items: center;
    }

    .graphicdesign_theme {
        display: none;
    }

    .graphicdesign_lower {
        width: 280px;
    }


}