body {
    background-color: #1C1C1C;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a {
    text-decoration: none;
    color: white;
}
.navigation {
    width: 97%;
    height: 100px;
    display: flex;
}
.nav {
    font-family: 'League Gothic';
    font-size: 38px;
    display: flex;
    flex-direction: column;
}
.nav a {
    margin: 0%;
    color: #ffffff;
}
.nav a:hover {
    margin: 0%;
    color: #000000;
}
.logo {
    font-family: 'Alex Brush';font-size: 80px;
    color: #FFFFFF;
    margin: 5px 0px 0px 31%;
}

.paintings_grid {
    width: 63%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.up_grid {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.storm {
    width: 300px;
    height: 300px;
    margin: 10px 120px;
    content: url('./images/frame\ for\ sea.png');
}

.swimmer {
    width: 380px;
    height: 380px;
    content: url('./images/frame\ for\ swim.png');
    margin-right: 100px;
}


.low_grid {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.mountain {
    width: 460px;
    height: 460px;
    content: url('./images/mountain_frame.png');
    margin-left: 40px;
}

.japan {
    width: 290px;
    height: 290px;
    margin: 60px 130px;
    content: url('./images/frame\ for\ japanese.png');
}

.footer {
    margin-top: 50px;
    color: #FFFFFF;
}
