body {
    background-color: #1C1C1C;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a {
    text-decoration: none;
    color: white;
}
.navigation {
    width: 97%;
    height: 100px;
    display: flex;
}
.nav {
    font-family: 'League Gothic';
    font-size: 38px;
    display: flex;
    flex-direction: column;
}
.nav a {
    margin: 0%;
    color: #ffffff;
}
.nav a:hover {
    margin: 0%;
    color: #000000;
}
.logo {
    font-family: 'Alex Brush';font-size: 80px;
    color: #FFFFFF;
    margin: 5px 0px 0px 31%;
}

.paintings_grid {
    margin-top: 40px;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;

}

.left_grid {
    width: 47%;
    height: 100%;
}

.left_one {
    content: url('./photo_img/20240218_180259.jpg');
    width: 100%;
}

.left_two {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.left_two_a {
    content: url('./photo_img/20240722_095903.jpg');
    height: 300px;
    /* width: 100%; */
}

.left_two_b {
    content: url('./photo_img/20240228_175830\ \(1\).jpg');
    height: 300px;
    /* width: 100%; */
}

.left_three {
    content: url('./photo_img/20240520_215236.jpg');
    width: 100%;
    margin-top: 40px;
}

.left_four {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.left_four_a {
    content: url('./photo_img/20240426_212547.jpg');
    height: 225px;
}

.left_four_b {
    content: url('./photo_img/IMG_20210303_180408.jpg');
    height: 225px;
}

.left_four_c {
    content: url('./photo_img/10776974402644279457.jpg');
    height: 225px;
}

.left_five {
    content: url('./photo_img/IMG_20200620_193528.jpg');
    width: 100%;
    margin-top: 40px;
}

.left_six {
    content: url('./photo_img/20231223_134334.jpg');
    width: 100%;
    margin-top: 40px;
}

.right_grid {
    width: 47%;
    height: 100%;
}

.right_one {
    content: url('./photo_img/Untitled-2.png');
    width: 100%;
}

.right_two {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.right_two_a {
    content: url('./photo_img/20240721_094946.jpg');
    height: 300px;
}

.right_two_b {
    content: url('./photo_img/20240721_092459.jpg');
    height: 300px;
}

.right_three {
    content: url('./photo_img/IMG_20210902_132619.jpg');
    width: 100%;
    margin-top: 40px;
}

.right_four {
    content: url('./photo_img/20211225_115426.jpg');
    width: 100%;
    margin-top: 40px;
}

.right_five {
    content: url('./photo_img/20240809_203217\ \(1\).jpg');
    width: 100%;
    margin-top: 40px;
}

.right_six {
    content: url('./photo_img/IMG_20190630_130036.jpg');
    width: 100%;
    margin-top: 40px;
}

.footer {
    color: #FFFFFF;
    margin-top: 50px;
}

@media only screen and (max-width: 600px) {
    .nav {
        display: none;
    }

    .logo {
        font-size: 50px;
        margin: 0%;
        margin-top: 20px;
    }

    .navigation {
        justify-content: center;
    }

    .paintings_grid {
        margin-top: 0%;
        width: 90%;
    }

    .left_one {
        width: 100%;
    }
    
    .left_two {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }
    
    .left_two_a {
        height: 80px;
        /* width: 100%; */
    }
    
    .left_two_b {
        height: 80px;
        /* width: 100%; */
    }
    
    .left_three {
        margin-top: 19px;
    }
    
    .left_four {
        margin-top: 20px;
    }
    
    .left_four_a {
        height: 65px;
    }
    
    .left_four_b {
        height: 65px;
    }
    
    .left_four_c {
        height: 65px;
    }
    
    .left_five {
        width: 100%;
        margin-top: 20px;
    }
    
    .left_six {
        width: 100%;
        margin-top: 20px;
    }

    .right_two {
        margin-top: 20px;
        height: 80px;
    }
    
    .right_two_a {
        height: 100%;
    }
    
    .right_two_b {
        height: 100%;
    }

    .right_three {
        width: 100%;
        margin-top: 20px;
    }

    .right_four {
        width: 100%;
        margin-top: 20px;
    }

    .right_five {
        width: 100%;
        margin-top: 20px;
    }
    
    .right_six {
        width: 100%;
        margin-top: 20px;
    }
}