body {
    background-color: #1C1C1C;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a {
    text-decoration: none;
    color: white;
}
.navigation {
    width: 760px;
    height: 100px;
    display: flex;
}
.nav {
    font-family: 'League Gothic';
    font-size: 38px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.nav a {
    margin: 0%;
    color: #ffffff;
}
.nav a:hover {
    margin: 0%;
    color: #000000;
}
.logo {
    font-family: 'Alex Brush';
    font-size: 60px;
    color: #FFFFFF;
    margin-left: 150px;
    margin-top: 15px;
}

.san_diago_text {
    width: 41%;
    color: #FFFFFF;
    font-family: 'League Gothic';
    text-align: center;
    font-size: 30px;
}

.san_diego_finest_grid {
    width: 760px;
    height: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.san_diego_finest_grid_first {
    height: 440px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.san_diego_finest_grid_first_a {
    content: url('./sandiego_img/1a.png');
    height: 440px;
}

.san_diego_finest_grid_first_b {
    height: 100%;
    content: url('./sandiego_img/1b.jpg');
}

.san_diego_finest_grid_second {
    height: 205px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.san_diego_finest_grid_second_a {
    height: 100%;
    content: url('./sandiego_img/2a.png');
}

.san_diego_finest_grid_second_b {
    height: 100%;
    content: url('./sandiego_img/2b.png');
}

.san_diego_finest_grid_third {
    height: 440px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.san_diego_finest_grid_third_a {
    height: 100%;
    content: url('./sandiego_img/3a.png');
}

.san_diego_finest_grid_third_b {
    height: 100%;
    content: url('./sandiego_img/3b.png');
}

.footer {
    color: #FFFFFF;
}


@media only screen and (max-width: 860px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .nav {
        font-size: 30px;
    }

    .logo {
        font-size: 50px;
        margin: 0%;
        margin-left: 70px;
    }

    .navigation {
        width: 500px;
    }
    .san_diago_text {
        width: 500px;
    }

    .san_diago_text h2{
        font-size: 30px;
    }

    .san_diago_text p{
        font-size: 22px;
    }

    .san_diego_finest_grid {
        width: 500px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .san_diego_finest_grid_first {
        height: 290px;
        margin-bottom: 20px;
    }
    
    .san_diego_finest_grid_first_a {
        height: 100%;
    }
    
    .san_diego_finest_grid_first_b {
        height: 100%;
    }

    .san_diego_finest_grid_second {
        height: 136px;
        margin-bottom: 20px;
    }

    .san_diego_finest_grid_second_a {
        height: 100%;
    }
    
    .san_diego_finest_grid_second_b {
        height: 100%;
    }
    
    .san_diego_finest_grid_third {
        height: 290px;
        margin-bottom: 20px;
    }
    
    .san_diego_finest_grid_third_a {
        height: 100%;
    }
    
    .san_diego_finest_grid_third_b {
        height: 100%;
    }
}

@media only screen and (max-width: 600px) {
    
    .nav {
        width: 250px;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .nav a {
        font-size: 40px;
    }

    .logo {
        width: 250px;
    }

    .logo a {
        margin: -20px;
    }

    .navigation {
        width: 70px;
        height: 180px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .san_diago_text {
        width: 350px;
    }

    .san_diego_finest_grid {
        width: 350px;
    }

    .san_diego_finest_grid_first {
        flex-direction: column;
        height: 100%;
    }

    .san_diego_finest_grid_first_a {
        margin-bottom: 15px;
    }

    .san_diego_finest_grid_second {
        flex-direction: column-reverse;
        height: 100%;
    }

    .san_diego_finest_grid_second_b {
        margin-bottom: 15px;
    }

    .san_diego_finest_grid_third {
        flex-direction: column-reverse;
        height: 100%;
    }

    .san_diego_finest_grid_third_b {
        margin-bottom: 15px;
    }
}